.Digimitrregistration {
  font-family: math;
}
.Digi-Head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 60px;
}
.Digi-Head1 > img {
  width: 150px;
}
.Digi-Head1 > span {
  font-size: 14px;
  font-weight: 500;
  color: slategray;
  display: flex;
  gap: 6px;
}
.Digi-Head1 > span > a {
  text-decoration: none;
  font-weight: 600;
  font-family: cursive;
}
.Digi-Box1 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}
.Digi-Box1-1 {
  text-align: center;
}
.Digi-Box1-1 > p {
  margin-bottom: -7px !important;
  font-size: 28px;
  font-weight: 800;
}
.Digi-Box1-1 > span {
  font-size: 14px;
  color: #15b844;
  font-weight: 600;
}
.Digi-form-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}
.Digi-form-tabs > li {
  list-style: circle;
  list-style-type: disclosure-open;
  font-size: 17px;
  color: black;
  cursor: pointer;
}
.digLine {
  width: 80px;
  height: 2px;
  background-color: #00000061;
}
.Digi-Box2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.otherDoc{
  display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.vdf1>select{
  width: 300px;
  padding: 3px 14px;
}
.verification-digi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 31px 105px -34px black;
    padding: 34px 34px;
    border-radius: 6px;
    gap: 30px;
}
.vdf1>input{
    width: 300px;
    padding: 3px 14px;
}
.vdf1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  
}
.vdf1-personal>label{
    /* width: min-content; */
}
.vdf1-personal>label>input{
    width: 99px;
}
.vdf1>span{
    color: #5897b3;
    background-color: white;
    box-shadow: 0px 0px 13px -6px black;
    border-radius: 6px;
    padding: 3px 13px;
    font-weight: 500;
    cursor: pointer;
    transition-behavior: ease-in-out;
    transition-delay: 70ms;
    transition-duration: 200ms ;
   
}
.vdf1>span:hover{
    color: #f7f7f7;
    background-color: rgb(255, 143, 143);
   
   
}
#Digi-Box-1-1-btn{
    color: #fff;
    font-size: 18px;
    padding: 6px 32px;
    font-weight: 800;
    background-color: #462fffba !important;
    transition-behavior: ease-in-out;
    transition-delay: 70ms;
    transition-duration: 200ms;
    border-radius: 4px;
    text-decoration: none;
}
#Digi-Box-1-1-btn:hover{
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    background-color: #624effba !important;
}